.gradient-multiline {
    position: relative;
    margin: 50px auto;
    background-color: #fff;
    text-align: center;
    line-height: 1.5em;
    overflow: hidden;
    font-weight: bold;
    font-size: 50px;
    vertical-align: bottom;
    padding-left: 50px;
    color: #248404
}
