.navbar {
    background-color: #fff;
    padding: 20px 0 !important;
    text-transform: uppercase;
}
.dropdown {
    background-color: #248404;
    color: #fff !important;
    border-radius: 100px;
    padding: 0 25px;
}
#basic-nav-dropdown {
    color: #fff !important;
}
#basic-nav-dropdown:hover {
    color: #fff !important;
}

.navbar a {
    color: #000;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: none;
    color: #248404;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
