.contact {
    background-image: url('../../assets/design.jpg');
    background-repeat: no-repeat;
    height: 50vh;
    padding: 7% 15%;
}

.contect-title {
    color: #248404;
    font-weight: bolder;
}