.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#root {
  font-family: 'Raleway-Regular' !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Raleway-Regular;
  src: url("./assets/fonts/static/Raleway-Regular.ttf");
}
@font-face {
  font-family: Avenir Next-bold;
  src: url("./assets/fonts/static/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: Avenir Next-bolder;
  src: url("./assets/fonts/static/Raleway-ExtraBold.ttf");
}
